h3, p {
  padding: 0;
  margin: 0;
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
}

h2 {
  width: 100%;
  display: block;
  margin: 1rem 0;
}

video {
  width: 280px;
  height: 168px;
  border-radius: 3px 3px 0px 0px;
  object-fit: cover;
}

.video-card {
  width: max-content;
  background-color: #fff;
  border: 1px solid var(--light-grey);
  cursor: pointer;
}

mat-card-title {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: fit-content;
  max-width: 250px;
  margin: 0 auto;
  font-size: 1.1rem;
}

mat-card-content {
  padding: 0 0.7rem 0.7rem !important;
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.profile > span {
  display: inline-block;
  color: white;
  background-color: var(--primary-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.footer-content {
  margin-top: 0.7rem;
  display: flex;
  gap: 0.3rem;
  justify-content: space-between;
  font-size: 0.85rem;
  color: rgb(98, 98, 98);
}

h1 {
  font-size: 1.5rem;
}