p {
  margin: 0;
}

.login {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 64px);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

.login-form {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 2px 2px 5px var(--light-grey);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

input, .input {
  width: 100%;
}

.input > p {
  color: #cd0000;
}

label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  display: block;
}

.error-message {
  width: 100%;
  color: #cd0000;
  text-align: left;
  margin: 0;
}