<section class="register">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
    <h1>Create an Account</h1>
    <div class="input">
      <label for="username">Username</label>
      <input id="username" formControlName="username" required="required" placeholder="Enter Username">
    </div>

    <div class="input">
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" required="required" placeholder="Enter Password">
    </div>

    <div class="input">
      <label for="confirm-password">Confirm Password</label>
      <input id="confirm-password" type="password" required="required" placeholder="Retype Password">
    </div>

    @if(errorMessage.length > 0){ <p class="error-message">{{ errorMessage }}</p> }

    <button color="primary" type="submit">Register</button>
    <p>Already have an account? <a [routerLink]="['/login']"><u>Login Here</u></a></p>
  </form>
</section>