<div class="upload-container">
  <input type="file" accept="video/*" (change)="onFileSelected($event)">
  <br>
  @if (selectedFile) {
    <button (click)="uploadFile()">Upload Video</button>
  }

  @if (uploadProgress > 0) {
    <p>Uploading... {{ uploadProgress }}% complete</p>
    <div class="progress-bar">
      <div class="progress" [style.width]="uploadProgress + '%'"></div>
    </div>
  }


  @if (downloadURL) {
    <p>Upload complete! Your video is available at: <a href="{{ downloadURL }}">{{ downloadURL }}</a></p>
  }

</div>
