<div class="page">
  <button mat-flat-button color="primary" (click)="fileInput.click()">Select Video</button>
  <input #fileInput type="file" accept="video/*" (change)="onFileSelected($event)">
  <br>
  @if (selectedFile) {
    <app-video-player [videoURL]="videoURL"></app-video-player>

    <p>{{ selectedFile.name }}</p>

    <button mat-flat-button color="primary" (click)="uploadFile()">
      Upload Video
    </button> 
  }

  @if (uploadProgress > 0) {
    <p>Uploading... {{ uploadProgress }}% complete</p>
    <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
  }

</div>
